:root {
  --light-green: #35b035;
  --green: #6ca96c;    
  --light-grey: #535353;
  --light-orange: rgb(202, 121, 59);
  --dark-orange: rgb(214, 131, 66);
}

/* NUTRI INFO */

/* This now only targets the nutrition page, the recipe page is a class of .nutrition-info */
#nutritional-info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  }
  
  
  /* display user search */
  #display-user-ingredients {
  display: block;
  margin: 2% 0;
  margin-left: 25%;
  padding: 1%;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  /* border-radius: 0.6rem; */
  text-align: center;
  width: 50%;
  }
  
 /* This now only targets the nutrition page, the recipe page is a class of .nutrition-card */
  #nutrition-card {
  margin-left: auto;
  margin-right: auto;
  } 
  
  
  /* Nutri labels */
  
  /* This only targets the nutrition page, the recipe page is a class of .nutrition-labels */
  #nutrition-labels {
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 40%;
  }
  
  .nutrition-row-section{
  text-align: center;
  margin-bottom: 15%;
  }
  
  .label-badge {
  padding: 2%;
  margin: 2%;
  width: fit-content;
  background-color: var(--light-green);
  font-weight: bold;
  font-size: small;
  }
  
  /* Nutrition card */
  .nutrition-card {
  border: 1px solid var(--light-grey);
  margin: 3%;
  float: left;
  width: fit-content;
  padding: 0.6rem;
  background:rgb(255,255,255,0.9);
  }
  
  .nutrition-card__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
  }
  
  .nutrition-card__header {
  border-bottom: 10px solid var(--light-grey);
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  }
  
  .nutrition-card__table {
  width: 100%;
  font-size: small;
  line-height: 1.4;
  
  }
  
  .nutrition-card__table p {
  margin: 0;  
  }
  
  th,
  td {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0.7rem;
  border-top: 1px solid var(--light-grey);
  white-space: nowrap;
  
  }
  td {
  font-size: small;
  
  }
  .blank-cell {
  width: 1rem;
  border-top: 0;
  }
  .thick-row {
  th,
  td {
  border-top-width: 5px;
  }
  }
  
  .nutrition-card__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  }
  
  .text-center {
  text-align: center;
  }
  .thick-end {
  border-bottom: 10px solid var(--light-grey);
  }
  .thin-end {
  border-bottom: 1px solid var(--light-grey);
  }
  .nutritional-analysis-section{
  padding: 50px 15px;
  }
  
  #custom-analysis-button {
  font-weight: 700;
  font-size: 20px;
  
  }
  
  .search-input {
  width: 200px;
  border: 1px solid rgb(74, 162, 180);
  }
  
 