:root {
    --light-green: #35b035;
    --green: #6ca96c;
    --dark-green: #548554; 
    --light-grey: #535353;
    --light-orange: rgb(202, 121, 59);
    --dark-orange: rgb(153, 91, 44);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Merienda', "cursive";
    background-color: white;
}

/* Add padding to nav above lg breakpoint for wider displays */ 
@media screen and (min-width: 992px) {
    .navbar{
        padding: 15px 50px;
    }
}

h1 {
    font-family: 'Merienda', "cursive";
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Merienda', "cursive";
    font-weight: bold;
    text-align: left;
}

h3 {
    font-family: 'Merienda', "cursive";
    text-align: left;
}

h5 {
    text-align: center;
}

.btn-primary {
    background-color: var(--light-orange);
    border: transparent;
}


.btn-primary:hover  {
    background-color: var(--dark-orange);
}

.btn-secondary {
    background-color: var(--green);
    border: transparent;
}

.btn-secondary:hover  {
    background-color: var(--dark-green);
}

.error-message {
    margin: 3% 0;
    color: red;
    font-weight: bold;
}

/* NAVBAR */
.nav-link{
    font-family: 'Merienda', "cursive";
    font-weight: 600; 
    font-size: 17px;
}

.nav-link:hover {
    color: var(--light-orange);
    cursor: pointer;
}

a:hover{
    transition: all 0.3s ease;
}

/* JUMBOSEARCH */
.jumbotman{
    padding: 5vh 5vw; /* Responsive padding (5% viewport height/width) */    
    background-image: url("../images/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* prevent image floating off screen */
    min-height: 35vh;
}

.form-search{
    padding: 20px;
    border: 0;
}

.input-group{
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1); /* subtle box shadow to bring out from pale bg */
}

.input-group-text{
    border: 0;
}
button{
    border: 0;
    background-color: inherit;
}
.bi-search{
    font-size: 20px;
}
.placeholder-bg{
    margin-top: 20px;
    padding: 50px 200px;
}


.title{
    margin-bottom: 15px;
    
}

/* FOOTER */
.footer{
    padding-top: 1rem;
    text-align: center;
}
.footer a{
    text-decoration: none;
    padding: 10px;
    color: #252525;
}

.footer a:hover {
    color: var(--light-orange);
}

.copyright{
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}
